.link {
  @include text-font;
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;

  &__icon {
    transition: all 0.1s ease-out;
    vertical-align: middle;
    margin-left: 0.15em;
  }

  &:hover {
    .link__icon {
      margin-left: 0.5em;
    }
  }

  // &--style-default {
  //   &:hover {
  //     .link__text {
  //       text-decoration: underline;
  //     }
  //   }
  // }

  &--style-handwritten {
    @include handwritten-font;
    color: $tertiary-color;
    font-size: 1.4rem;
    line-height: 1;

    .link__text {
      text-decoration: underline;
    }

    .link__icon {
      margin-left: 0.5em;
    }

    &:hover {
      .link__icon {
        margin-left: 1em;
      }
    }
  }

  &--style-underlined {
    .link__text {
      border-bottom: 1px solid black;
      font-style: italic;
    }
  }

  /* TEMP STYLING */
  &--style-strikethrough {
    text-decoration: line-through;
  }
}
