.grid {
  $default-first-break-at: 25rem;
  $wide-first-break-at: 35rem;
  $gutter: 2rem;

  @mixin enable-grid($at) {
    @media screen and (min-width: $at) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--default {
    @include enable-grid($default-first-break-at);
    justify-content: flex-end;
  }

  &__item {
    margin-top: 4rem;
    max-width: 980px;
    margin: 0 auto;

    @media screen and (min-width: 50rem) {
      margin-top: 6rem;
    }

    &--default {
      flex: 0 0 100%;

      @media screen and (min-width: 60rem) {
        flex: 0 0 51%;
      }

      &:nth-child(3) {
        max-width: 100%;
        flex: 0 1 100%;
        padding: 4rem;
        background-color: aquamarine;
      }

      &:last-child {
        margin-bottom: 6rem;
      }
    }
  }
}
