.text {
  @include text-font;
  font-size: 1.2rem;
  margin: 0;

  &__source {
    text-align: right;
    margin-top: 1rem;
  }

  &--quote {
    .text__content {
      font-style: italic;
      font-size: 1.8rem;
      line-height: 1.5;
    }
  }
}
