.background {
  position: relative;

  width: 100%;
  height: 200px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;

  @media screen and (min-width: $break-at-sm) {
    width: 800px;
    height: 700px;
    background-size: cover;

    position: absolute;
    left: 0;
    bottom: 0;
  }
}
