.header {
  background-color: $secondary-color;

  &--is-open {
    background-color: $primary-color;
  }

  .row {
    margin-top: 0;
    margin-bottom: 0;
    &:nth-child(1) {
      padding: 1rem 0;
      .row__inner {
        padding-top: 0;
        padding-bottom: 0;
        justify-content: space-between;
        align-items: center;

        .row__inner-child {
          &:nth-child(2) {
            flex: 0 0 auto;
          }
        }
      }
    }
  }

  &__logo {
    .transform {
      @media screen and (min-width: $break-at-sm) {
        position: absolute;
      }
    }
  }

  &__button {
    flex: 0 0 auto;
    margin: auto 0;
  }

  &__menu {
    box-shadow: 0px 6px 12px -2px rgba(102, 101, 102, 1);
  }

  &__socialmedia {
    @media screen and (min-width: $break-at-sm) {
      text-align: right;
    }
  }
}
