.snippet {
  &--style-handwritten {
    @include handwritten-font;
    color: $tertiary-color;
    font-size: 1.4rem;
    line-height: 1;
  }

  &--style-slanted {
    font-style: italic;
  }

  &--style-bloated {
    font-size: 1.3em;
  }
}
