.list {
  @include text-font;
  &--inline {
    margin-top: 0;

    .list__item {
      display: inline-block;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
