.transform {
  transform-origin: top left;
  display: inline-block;

  &--is-rotated {
  }

  &--is-scaled {
  }

  &--is-translated {
    @media screen and (max-width: $break-at-sm) {
      transform: translate(0, 0) !important;
    }
  }
}
